body {
  font-family: var(--font-family);
  color: var(--text);
  background-color: var(--bg);
  line-height: 1.5;
  letter-spacing: 0;
  overflow: hidden;
}

#app {
  display: contents;
}

a,
button,
label,
input,
textarea,
select,
svg * {
  transition-duration: var(--transition-duration);
}

*::-webkit-scrollbar {
  width: 8px;
  height: 8px;
}

*::-webkit-scrollbar-track {
  background: transparent;
}

*::-webkit-scrollbar-thumb {
  border-radius: 8px;
  background: #000000;
}
